*{
    margin: 0;
    padding: 0;
}

.banner{
    background-color: rgb(230, 155, 64);
    width: 100vw;
    height: 50px;
    text-align: center;
}

.banner > p{
    padding: 10px;
    font-size: 20px;
}

.botoes > input{
  margin: 10px;
}

.botoes{
    margin: 0px 10vw;
}

input{
    width: 10vw;
    border-radius: 10px;
    height: 3vh;
}

main{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin: 0 20vw 0 0;
}

nav {
    display: flex;
    justify-content: center;
    background-color: red ;
}

 a{
    padding: 10px;
    background-color: antiquewhite;
}